a{
	color: #959aa0;

}
ul.footer-menu li {
	display: inline-block;
	padding-left: 10px;
}
.box{
    background-image: url(https://lonelyplanetwp.imgix.net/2011/03/vietnam-food-cao-lau.jpg?fit=min&q=40&sharp=10&vib=20&w=1470);
    width: 100%;
	height: 100%;
    padding:10px;
    margin:0 auto;
    position:relative;
}
 
.box img{
    margin:auto;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    width: 10%;
    height: 12%;
}

/*#footerphai{
	width: 85%;
}
#footertrai{
	width: 15%;
}

